@import url(/src/styles/imports.scss);

* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: white;
}

body {
    backdrop-filter: blur(15px);
    background-color: white;
    color: white;
}

h1 {
    font-size: 2rem;
    font-weight: 100;
}



#logo {
    font-family: 'Quicksand', sans-serif;
}

.text_black {
    color: black;
    font-size: 2.5rem;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-weight: 700;
    margin-bottom: 15vh;
}

.bg-black {
    background-color: black;
}

.description {
    font-size: larger;
    font-family: 'Quicksand', sans-serif;
    padding: 0 12vw;
}

.gradient_text {
    font-size: 8rem;
    font-weight: 100;


    -webkit-text-fill-color: #0000;
    background: linear-gradient(90deg, #2962ff, #2962ff 6.02%, #726fff 28.12%, #c883ff 41.15%, #ab4df8 54.69%, #d1007e 69.27%, #dc132b 90.9%, #dc132b);
    -webkit-background-clip: text;
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 100%;
    width: fit-content;

}

nav {
    position: fixed;
    background-color: #00cba900;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    padding: 2vh 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Tilt Neon', cursive;

    & ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;

        & li {
            margin: 12px;
        }
    }
}

.chat {
    border: 2px solid white;
    padding: 5px 15px;
    border-radius: 20px;
}

.chip {
    border: 1px solid rgb(255, 255, 255);
    width: max-content;
    padding: 2px 8px;
    border-radius: 5px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e3effd;
    color: #1e53e5;
    margin: 5px;

    &:hover {
        background-color: rgb(181, 186, 253);
        color: black;
    }
}

.selected {
    background-color: #e51eb3;
    color: white;
}

.head {
    display: flex;
    margin: 0 15%;
    flex-direction: column;
}

#quote {
    font-size: 5rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
    // width: 50vw;
}

.frame {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    // margin-bottom: 15vh;
}

.video-fPkHA2Uc {
    width: 80vw;
}

.container {
    padding: 1vh 10vw;
    color: aliceblue;
    font-family: 'Noto Sans', sans-serif;

}

.button-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: black;
}

.flex-1 {
    margin-top: 15px;
    display: flex;
    height: max-content;
    flex-wrap: wrap;
    flex-direction: row;
    // overflow: auto;
}

.grid {
    // margin-top: 15px;
    display: grid;
    height: max-content;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 15vw;
    // overflow: auto;
}

.timg {
    display: flex;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 12px 12px;
    align-items: center;
}

.card {
    display: flex;
    align-items: center;
    color: black;
    width: 20%;
    height: 50px;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: 5px;

    &:hover {
        box-shadow: -7px 16px 62px 13px rgba(16, 158, 240, 0.57);
    }

    .avatar {
        background-color: #1e53e5;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
}

.sel {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    &:hover {
        box-shadow: -7px 16px 62px 13px rgba(223, 9, 55, 0.57);
    }
}

.stock-info {
    display: flex;
    flex-direction: column;
    margin-left: 5px;

    & h1 {
        font-size: large;
    }

    & div {
        display: flex;
        font-weight: 100;
    }

    & div p {
        font-size: 1rem;
    }

    & div :nth-child(2) {
        font-size: 1rem;
        margin-left: 15px;
        font-weight: 100;
    }
}

.box-container {
    color: rgb(0, 0, 0);
    margin-top: 5vh;
    height: 20vh;

    & ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    & ul li {
        width: max-content;
        font-size: 1em;
        list-style: none;
        background-color: #ffffff;
        margin: 5px;
        padding: 8px 15px;
        border-radius: 15px;
        box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
        text-transform: capitalize;
    }
}

// .apexcharts-toolbar {
//     display: none !important;
// }

.apexcharts-annotations {
    background-color: #d41ee5 !important;
}
















// resonsove code is here 
/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    div.example {
        font-size: 80px;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    #quote {
        font-size: 30px;
    }

    .frame {
        display: none;
    }

    #logo,
    nav {
        font-size: 15px;
    }

    .card {
        width: 100%;
        background-color: white;
    }

    .gradient_text {
        font-size: 5rem;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 100;
        line-height: 1;
        -webkit-text-fill-color: #0000;
        background: linear-gradient(90deg, #2962ff, #2962ff 6.02%, #726fff 28.12%, #c883ff 41.15%, #ab4df8 54.69%, #d1007e 69.27%, #dc132b 90.9%, #dc132b);
        -webkit-background-clip: text;
        background-clip: text;
        background-repeat: no-repeat;
        background-size: 100%;
        width: fit-content;

    }

    .description {
        padding: 12px;
    }
}